@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <hr />
    <p>In order to add or remove fields for each customer please select add.</p>
    <hr />
    <div class="text-center">
        <button id="addSingleRow" type="button" class="btn btn-dark" style="width:20%; margin:20px">Add Simple Field Price</button>
        <button id="addDropdownRow" type="button" class="btn btn-dark" style="width:20%; margin:20px">Add Dropdown </button>
        <form method="post" asp-controller="Cms" asp-action="OnPost">
            <div id="newRow">
                <input type="hidden" id="total" value="0" />
            </div>
            <input type="submit" class="btn btn-primary" style="width:30%; margin:40px" value="Post" />
        </form>
    </div>
</div>

@section Scripts
    {
    <script>
        $("#addSingleRow").click(function () {
            var rowCount = parseInt($("#total").val());
            rowCount++;
            $("#total").val(rowCount);
            var html = '';
            html += '<div id="inputRow" style="margin:5px">';
            html += '<input type="hidden" name="[' + (rowCount - 1) + '].Type" value= "1"  />';
            html += '<input type="text" placeholder="e.g: Email" name="[' + (rowCount - 1) + '].FieldName"  />';
            //add more inputs here...
            html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
            html += '</div>';

            $('#newRow').append(html);
        });
        $("#addDropdownRow").click(function () {
            var rowCount = parseInt($("#total").val());
            rowCount++;
            $("#total").val(rowCount);
            var html = '';
            html += '<div id="inputRow" style="margin:5px">';
            html += '<input type="text" name="[' + (rowCount - 1) + '].Name"  />';
            //add more inputs here...
            html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
            html += '</div>';

            $('#newRow').append(html);
        });
        $(document).on('click', '#removeRow', function () {
            var rowCount = parseInt($("#total").val());
            rowCount--;
            $("#total").val(rowCount);
            $(this).closest('#inputRow').remove();
        });
    </script>
}
